@{
    ViewBag.Title = "Index";
}

<h2>Ideas</h2>
<div>
    @using (@Html.BeginForm("CreateIdea", "Idea", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    @Html.Label("", "Public your idea:")
                    @Html.TextArea("idea", "", new { @class = "form-control", @placeholder = "Share your idea hire:", @type = "text", TextMode = "MultiLine" })
                </div>
            </div>
        </div>
        <br />
        <input type="submit" name="Send" value="Send" class="btn btn-primary" />
    }
</div>

