@model ICollection<ELearningMathApp.Web.Areas.Ideas.Models.Idea.IdeaViewModel>
@{
    ViewBag.Title = "All Ideas";
}

<h2>Ideas</h2>
<br />
<div class="container">
    @foreach (var idea in Model)
    {
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="btn btn-sm btn-default">^</a>
                        <br />
                        <a href="#" class="btn btn-sm btn-default">v</a>
                    </div>
                    <div class="col-md-10">
                        <h3>@(idea.UsersPozitiveVote.Count - idea.UsersNegativeVote.Count) votes</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <p>@idea.Content</p>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p>Author: @idea.Author.UserName</p>
                    </div>
                    <div class="col-md-6">
                        <p>Date: @idea.CreatedOn.ToUniversalTime()</p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    }
</div>

