@using ELearningMathApp.Web.ViewModels.Home

@model IEnumerable<IndexIdeasViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Math6</h1>
    <p>Hi from Math6!</p>
</div>
<div class="container">
    <h3>New ideas:</h3>
    @foreach (var idea in Model)
    {
        <p>@idea.Content</p>
        <hr />
    }
</div>